.cartitems{
    margin: 70px 130px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 500;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;

}
.cartitems-product-icon{
    height: 40px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0 14px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 60px;
    height: 45px;
    border: 2px solid #ebebeb;
    background: white;
}
.cartitems-down{
    display: flex;
    margin: 80px 0;

}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    gap: 30px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}
.cartitems-total button{
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 480px;
    margin-top: 15px;
    padding-left: 20px;
    height: 48px;
    background: #eaeaea;
    display: flex;

}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 48px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}